body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* color: rgba(255, 247, 220, 0.911); */
  color: cornsilk;
  font-size: 24px;
  background-image: linear-gradient(to top, rgb(12, 52, 131) 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  background-attachment: fixed;
  background-position: right-top;
  background-repeat: no-repeat;
  font-family: 'Dosis', sans-serif;
}

body {
  height: 100%;
}


.header {
  background-image: url("photo8.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  
}

.lead {
  font-family: 'Shadows Into Light', cursive;
  color: cornsilk;
  font-size: 50px;
}

.logo {
  height: 140px;
  background-image: url("logo2.png");
  background-position: center center;
  margin: 15px;

}
 
.login, .register {
  margin-top: 20px;
}

.button {
  font-size: 20px;
  background-color: cornsilk;
  color: #131383;
}

.dialogButton {
  font-size: 20px;
  background-color: #131383 ;
  color: cornsilk;
}

#uploadPhoto {
  margin-bottom: 15px;
  font-size: 18px;
}

.houseButton {
  font-size: 30px;
  text-transform: none;
}

.addTransButton {
  color: cornsilk;
  background-color: rgb(219, 146, 0);
  font-size: 20px;
  padding-top: -10px;
}

.button-icon {
  background-color: transparent; 
}

#addIcon {
  height: 30px;
  width: auto;
  margin-right: 5px;
  /* margin-top: 10px; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.container p{
  margin-top : 14px;
}


.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #131383;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

#receiptPhoto {
  width: 400px;
  height: auto;

}

.housemateTable {
  border-collapse: collapse;
}

.housemateTabletable, th, td {
  border: 1px solid rgb(12, 12, 12);
}

th, td {
  padding: 15px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .rightSide {
  color: cornsilk;
  padding-right: 25px;
} */


th, td {
  background-color: rgba(12, 52, 131, 0.2)
}

md-button {
  background-color: #131383;
}

.select {
  background-color: cornsilk;
  color: #131383;
}

h3 {
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

#templateContainer {
  margin: 20px;
  padding: 10px;
}

#closeOut {
  margin: 0px;
  padding: 0px;
}

#closeOutInput {
  margin: 0px 15px;
  padding: 0px;
}

.icon {
  font-size: 40px;
}
