<div class="navbar" ng-controller="HouseNavController as nc">
        <div class="container navContainer">
         <div class="leftSide">
          <ul>
            <li><a href="#/houseHome/{{nc.houseId}}">Home</a></li>
            <li><a href="#/viewTransactions/{{nc.houseId}}">View Transactions</a></li>
            <li><a href="#/myAccount/{{nc.houseId}}">My Account</a></li>
          </ul>
        </div>
        <div class="rightSide">
        <md-button ng-click="nc.userService.logout()">Log Out</md-button>
        </div>
        </div>
      </div>