<div class="navbar" ng-controller="HouseNavController as nc">
        <div class="container navContainer">
         <div class="leftSide">
          <ul class="ul-nav">
            <li class="li-nav"><a href="#/houseHome/{{nc.houseId}}">Home</a></li>
            <li class="li-nav"><a href="#/viewTransactions/{{nc.houseId}}">View Transactions</a></li>
            <li class="li-nav"><a href="#/myAccount/{{nc.houseId}}">My Account</a></li>
            <li class="li-nav"><a href="#/about/{{nc.houseId}}">About this Project</a></li>
          </ul>
        </div>
        <div class="rightSide">
          <md-button class="addTransButton" ng-click="nc.addTransaction($event)">
            <div layout="row" layout-align="center center"><img id="addIcon" src="/styles/add-icon.png"><div></div>New Transaction</div>
            </md-button>
        <md-button class="button" ng-click="nc.userService.logout()">Log Out</md-button>
        </div>
        </div>
      </div>