<div ng-include="'views/partials/houseNav.html'">
</div>
<div id="templateContainer" class="container">
    <h1>About this Project</h1>

    <h2>Technologies Used</h2>
    <ul>
        <li>JavaScript</li>
        <li>AngularJS</li>
        <li>Express</li>
        <li>Node</li>
        <li>PostgreSQL</li>
        <li>Passport</li>
        <li>Angular Material</li>
        <li>Moment.js</li>
        <li>FileStack</li>
    </ul>

    <h2>Stretch Goals</h2>
    <ul>
        <li>Make app mobile-responsive</li>
        <li>Users can compare monthly spending to past months</li>
    </ul>

</div>