<div ng-include="'views/partials/houseNav.html'"></div>
<div id="templateContainer" class="container">
    <span>
        <h1>Welcome to {{hc.currentHouse.name}}!</h1>
        <!-- <md-button class="md-raised" ng-click="hc.addTransaction($event)">Add New Transaction!</md-button> -->
    </span>

    <h2>Monthly Costs So far:</h2>

    <div layout="row" layout layout-align="center center">
        <div flex="20">
            <strong>House Rent:</strong>
            <br>
            <br> {{hc.currentHouse.rent | currency}}</div>

        <div flex="20">
            <strong>Utilities: </strong>
            <br>
            <br>{{hc.utilCost | currency}}</div>

        <div flex="20">
            <strong>Food:</strong>
            <br>
            <br>{{hc.foodCost | currency}}</div>

        <div flex="20">
            <strong>Other Costs: </strong>
            <br>
            <br>{{hc.otherCost | currency}}</div>
    </div>

    <br>

    <h2 layout layout-align="center center">Total house cost: {{hc.totalCost | currency}}</h2>
    <h2 layout layout-align="center center">Cost per person: {{hc.costPerPerson | currency}}</h2>


    <h2 layout layout-align="center center">Who still owes what?</h2>

    <div layout="row" layout-align="center center">
    <table >
        <thead>
            <th>Housemate</th>
            <th>Already Paid</th>
            <th>Still Owes</th>
        </thead>
        <tbody ng-repeat="member in hc.members">
            <td>{{member.username}}</td>
            <td>{{member.alreadyPaid | currency}}</td>
            <td>{{member.stillOwes | currency}}</td>
        </tbody>
    </table>
</div>
<br><br><br>

</div> <!-- end container -->