<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <form ng-submit="ic.addHouse(ic.newHouse)">
    House Name: <input type="text" ng-model="ic.newHouse.houseName" id="cost" placeholder='House Name' />
    House Code: <input type="text" ng-model="ic.newHouse.houseCode" id="cost" placeholder='House Code' />
    Total Rent: <input type="text" ng-model="ic.newHouse.totalRent" id="sqft" placeholder='Total Rent' />
    Close out date: <input type="text" ng-model="ic.newHouse.closeOutDate" id="city" placeholder='Close out date' />
    <button class="btn btn-primary">Add House</button>
</form>
</div>
