<div ng-include="'views/partials/houseNav.html'"></div>
<div id="templateContainer" class="container">

<h1>My Account</h1>

<h3>You are a member of the following houses:</h3> 
<div ng-repeat= "userHouse in ac.userHouses"> 
    <a href="#/houseHome/{{userHouse.id}}">
        <md-button class="houseButton button" ng-click="ac.getHouseId(userHouse)">{{userHouse.houseName}}</md-button></a>
        <md-button class="button-icon" ng-click="ac.editHouse($event, userHouse)"><span class="material-icons accountIcon">edit</span></md-button>
        <md-button class="button-icon" ng-click="ac.removeHouse(userHouse)"><span class="material-icons accountIcon">delete</span></md-button> 
     </div>       
<br> <br>

<div>

     Select a house to join:
    <md-input-container>
        <label>Select a House</label>
        <md-select class="select" ng-model="uc.selectedHouse">
            <md-option aria-label="select house" ng-repeat="house in ac.houses" ng-value="house.houseName">{{house.houseName}}</md-option>
        </md-select>
    </md-input-container>
    <md-button class="button" ng-click="ac.selectHouse(ac.selectedHouse)">Select house</md-button>
    <br>
    <br>
    <md-button class="button" ng-click="ac
        .createHouse($event)">Create a new house</md-button>
    <br>
    <br>
    </div>
    
    </div>