<div ng-include="'views/partials/nav.html'"></div>
<div id="templateContainer" class="container">

    <h1 id="welcome">Welcome, {{uc.userObject.userName}}!</h1>
    <h3>{{uc.message}}</h3> 
    <div ng-repeat= "userHouse in uc.userHouses"> 
        <span><a href="#/houseHome/{{userHouse.id}}"><button ng-click="uc.getHouseId(userHouse)">{{userHouse.houseName}}</button></a><button ng-click="uc.removeHouse(userHouse)">Remove house from my list</button></span>   <br></div>
    <br>


    <form ng-submit="uc.selectHouse">
        Select a house to join: <select ng-model="uc.selectedHouse">
            <option ng-repeat = "house in uc.houses">{{house.houseName}}</option> 
        </select>
        <button ng-click="uc.selectHouse(uc.selectedHouse)">Select house</button> 
        <br>
        <br>
        <button ng-click ="uc.createHouse($event)">Create a new house</button>
</div>
