<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <h3>You are not connected to a house yet.</h3> <!--This message should change depending on if the user is connected to houses or not. -->

    <form ng-submit="uc.selectHouse">
        Select a house to join: <select ng-model="uc.selectedHouse">
            <option ng-repeat = "house in uc.houses">{{house.houseName}}</option> 
        </select>
        <button ng-click="uc.selectHouse(uc.selectedHouse)">Select house</button> 
        <!-- <br>
        <br>
        House Code: <input type="text" ng-model="uc.enteredHouseCode"></input> 
         <button ng-click="uc.joinHouse(uc.enteredHouseCode, uc.selectedHouse)">Join House</button>  -->
        <br>
        <br>
        <button class="">Create a new house</button> <!--ng-click: if there is a way to do this, set up a sweet alert that will pop up and allow the user to enter inputs about a new house and create the new house in a pop-up on the screen, instead of completely redirecting them --> 
        <br>
        <br>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
