<div ng-include="'views/partials/nav.html'"></div>
<div id="templateContainer" class="container">

    <h1 id="welcome">Welcome, {{uc.userObject.userName}}!</h1>
    <h3>{{uc.message}}</h3>
    <div layout="row" ng-repeat="userHouse in uc.userHouses">
            <a href="#/houseHome/{{userHouse.id}}">
                <md-button class="houseButton button" ng-click="uc.getHouseId(userHouse)">{{userHouse.houseName}}</md-button>
            </a>
    </div>
    
    <hr>
    <br>
    <h3>Or join an existing house.</h3>
    Select a house to join:
    <md-input-container>
        <label>Select a House</label>
        <md-select class="select" ng-model="uc.selectedHouse">
            <md-option aria-label="select house" ng-repeat="house in uc.houses" ng-value="house.houseName">{{house.houseName}}</md-option>
        </md-select>
    </md-input-container>
    <md-button class="button" ng-click="uc.selectHouse(uc.selectedHouse)" aria-label="select house">Select house</md-button>
    <br>
    
    <hr>
    <br>
    <h3>Or create a new house.</h3>
    <md-button class="button" ng-click="uc.createHouse($event)">Create house</md-button>
    <br>
    <br>
</div>