<div ng-include="'views/partials/houseNav.html'"></div>
<div id="templateContainer">
    <div class="transactionTable" layout="row" layout-align="center center">
  <h1>{{tc.thisMonth}} Transactions for {{tc.currentHouse.name}}</h1>
  </div>

  <!-- Transaction Table -->
    <div class="transactionTable" layout="row" layout-align="center center">
    <table id="transactionTable" ng-model="selected">
      <thead>
        <tr>
          <th>Housemate</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Notes</th>
          <th>View Receipt</th>
          <th>Edit Transaction</th>
          <th>Delete Transaction</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in tc.transactions | orderBy: transaction.date">
          <td>{{transaction.username}}</td>
          <td>{{transaction.date}}</td>
          <td>{{transaction.amount | currency}}</td>
          <td>{{transaction.categoryName}}</td>
          <td>{{transaction.notes}}</td>
          <td><md-button class="button-icon" ng-show="tc.showViewReceipt(transaction)" ng-click="tc.viewReceipt($event, transaction)"><span class="material-icons icon">zoom_in</span></button></td>
          <td><md-button class="button-icon" ng-click="tc.editTransaction($event, transaction)"><span class="material-icons icon">edit</span></button></td>
          <td><md-button class="button-icon" ng-click="tc.deleteTransaction(transaction.id)"><span class="material-icons icon">delete</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>