<md-dialog aria-label="Add Transaction form">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>New Transaction for {{dc.userObject.userName}}</h2>
            </div>
          </md-toolbar>
      
          <!-- Amount, category, date, notes, upload photo of receipt -->
          <md-dialog-content>
            <div class="md-dialog-content">
              <form>
                 <strong>Amount: </strong>  $<input type="number" min="0.01" step="0.01" max="2500" ng-model="dc.newTransaction.amount" placeholder='Amount' />
                 <br> <br>
                 <!-- <strong>Category: </strong><input type="text" ng-model="dc.newTransaction.category" placeholder='Category' /> <br> <br> -->
                 <strong>Category: </strong>  <select ng-model="dc.newTransaction.category">
                    <option ng-repeat = "category in dc.categories">{{category.categoryName}}</option>
                </select> <br> <br>
                {{dc.newTransaction.category}}
                 <strong>Date: </strong>  <md-datepicker ng-model="dc.newTransaction.date" md-placeholder="Date"
                     md-min-date="dc.minDate" md-max-date="dc.maxDate"></md-datepicker> <br> <br>
                 <strong>Notes: </strong>  <textarea cols="30" rows="10" ng-model="dc.newTransaction.notes"></textarea>
                 <md-button class="md-raised" ng-click="dc.openPicker()">Upload Photo of Receipt</md-button>
                 <!-- <strong>Upload Photo of receipt: </strong> <input type="text" ng-model="dc.newTransaction.photo" placeholder="Not working yet" /> <br> <br> -->
                  </form>
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="dc.addTransaction(dc.newTransaction)">Add Transaction
            </md-button>
            <md-button ng-click="dc.cancel()">Cancel
                </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
      