<md-dialog aria-label="Add House form">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Editing House</h2>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content">
              <form>
                 <strong>House Name:</strong>  <input type="text" ng-model="ec.house.houseName" placeholder='House Name' /> <br> <br>
                 <strong>House Code: </strong><input type="text" ng-model="ec.house.houseCode" placeholder='House Code' /> <br> <br>
                 <strong>Total Rent: </strong> <input type="text" ng-model="ec.house.totalRent" placeholder='Total Rent' /> <br> <br>
                 <strong id="closeOut">How many days before the end of the month <br> would you like to close out costs? </strong>  
                 <md-input-container id="closeOutInput">
                    <md-select ng-model="ec.newHouse.closeOutDate">
                        <md-option ng-repeat = "number in ec.numbers" ng-value="number">{{number}}</md-option> 
                    </md-select> day(s)
                 </md-input-container>
                  </form>
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="dialogButton" ng-click="ec.editHouse(ec.house)">Submit Form
            </md-button>
            <md-button class="dialogButton" ng-click="ec.cancel()">Cancel
                </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>